name: Docs

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  ford:
    name: Build Ford docs
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Build docs
        run: |
          uv tool run ford ford.md
      - name: Deploy docs via SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.DOCS_SSH_PRIVATE_KEY }}
      - name: Disable strict host key checking
        run: |
          mkdir -p ~/.ssh
          echo "StrictHostKeyChecking no" >> ~/.ssh/config
      - run: |
          rsync -avz --delete doc/ ${{ secrets.DOCS_SSH_USER }}@${{ secrets.DOCS_SSH_HOST }}:${{ secrets.DOCS_SSH_PATH }}
